{{#each items as |item|}}
  {{ display-cart item=item }}
{{/each}}

<div class="row">
  <div class="col-xs-2 col-xs-offset-8 cart">
    {{#if totalPrice}}
      <h3>Total:</h3>
      ${{totalPrice}}
    {{/if}}
  </div>
</div>
